table.tntTable{}
table.tntTable tr{}
table.tntTable tr td{vertical-align: middle}
table.tntTable tr td textarea{width: 270px; height: 60px;}

table.tntFormTable{}
table.tntFormTable tr{}
table.tntFormTable tr{} 
table.tntFormTable tr td textarea.typeStructure{width: 460px; height: 60px;}

.tablenav .pagination span.disabled{display: inline-block; margin: 0 5px;}